
<div class=" row align-items-center">
      <div class="col-5"></div>
      <div class="col-3">&nbsp;</div>
      <div class="col-4"></div>
</div>

<div class=" row align-items-center">
      <div class="col-5"></div>
      <div class="col-3" style="border: 1px solid orange;">
            <ul class="nav flex-column">
                  <li class="nav-item "><a class="nav-link " routerLink="/PaginacaoPorDemandaExercicios">Exercícios de Paginação Por Demanda</a></li>
                  <li class="nav-item "><a class="nav-link " routerLink="/fila-de-processamento">Fila de processamento</a></li>
                </ul>
      </div>
      <div class="col-4"></div>
</div>