<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-menu-lateral
        (enviarDados)="setDadosProcesso($event)"
        (enviarTipoAlgoritmo)="setTipoAlgoritmo($event)"
        (enviarTipoExercicio)="setTipoExercicio($event)"
        (enviarRespostaMemoriaLogica)="setRespostaMemoriaLogica($event)"
        (enviarRecursoTecnico)="setRecursoTecnico($event)"
        [back]="getBack"
      ></app-menu-lateral>
    </div>

    <div class="col-9">
      <app-area-exercicio
        *ngIf="getTipoExercicio != 3"
        [listaProcessos]="getDadosProcesso"
        [exercicioSelecionado]="getTipoExercicio"
        [respostaMemoriaLogica]="getRespostaMemoriaLogica"
        [gambiarra]="getRecursoTecnico"
        (enviarDadosMemoria)="setDadosMemoriaFisica($event)"
        (enviarBack)="setBack($event)"
      ></app-area-exercicio>

      <app-pagina-vitima
        *ngIf="getTipoExercicio == 3 && qtdPaginas > 7"
        [algoritmoSelecionado]="getTipoAlgoritmo"
        [listaProcessos]="getDadosProcesso"
        [recursoTecnico]="getRecursoTecnico"
        (enviarBack)="setBack($event)"
      ></app-pagina-vitima>

      <app-infortivo
        *ngIf="getTipoExercicio == 3 && qtdPaginas < 8"
      ></app-infortivo>
    </div>
  </div>
</div>
